<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="Sync your post from instagram to douban">
    <title>Ins2Douban</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <style>
        body        { padding-top:80px; }
    </style>
</head>
<body>
<div class="container">

    <div class="jumbotron text-center">
        <h1><i class="fa fa-refresh"></i></span><font color="#337AB7">  If</font> Instagram <font color="#D9534F">then</font> Douban</h1>

        <p>Link your douban account with your instagram account:</p>
        <div>
            <a href="/auth/douban" class="btn btn-primary"><span class="fa fa-link"></span> Link</a>
            <a href="#" class="btn btn-primary"><span class="fa fa-chain-broken"></span> Unlink</a>
        </div>
    </div>

</div>
</body>
</html>
