<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="copyright" content="2015">
    <meta name="description" content="Sync your post from instagram to douban">
    <meta name="keywords" content="instagram, douban, synchronization">
    <title>Ins2Douban</title>

    <link rel="shortcut icon" href="/static/favicon.ico">
    <link rel="stylesheet" href="/static/css/mystyle.css" media="screen">
    <style id="style-1-cropbar-clipper">
    /* Copyright 2014 Evernote Corporation. All rights reserved. */
        .en-markup-crop-options {
            top: 18px !important;
            left: 50% !important;
            margin-left: -100px !important;
            width: 200px !important;
            border: 2px rgba(255,255,255,.38) solid !important;
            border-radius: 4px !important;
        }

        .en-markup-crop-options div div:first-of-type {
            margin-left: 0px !important;
        }
    </style>
</head>

<body data-vide-bg="" style="position: relative;">
    <div style="position: absolute; z-index: -1; top: 0px; left: 0px; bottom: 0px; right: 0px; overflow: hidden; -webkit-background-size: cover; background-size: cover; background-position: 50% 50%; background-repeat: no-repeat;">
        <video autoplay loop style="visibility: visible; margin: auto; position: absolute; z-index: -1; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); width: 1282px; height: auto;">
            <source src="/static/video/matt_devir--one_minute_drive.mp4" type="video/mp4">
        </video>
    </div>
    <div id="outer-wrapper">
        <main>
            <div id="frame"><h1>分享墙外的世界</h1>
                    <span class="est">同步</span><span class="est_en">Instagram </span><span class="est">到豆瓣</span>

            </div>
        </main>

        <footer>
            <div id="wrapper">

                <div id="me">
                    <h2>Fernando Maclen</h2>
                    <h3>Interactive Designer + Avid Entrepreneur</h3>
                </div>

                <div id="social">
                    <ul>
                        <li>
                            <a href="http://twitter.com/fmaclen" title="I dare you to follow me on Twitter" target="_blank" class="fa fa-link">Twitter</a>
                        </li>
                        <li>
                            <a href="http://github.com/fmaclen" title="My technical side" target="_blank" class="github">GitHub</a>
                        </li>
                        <li>
                            <a href="http://dribbble.com/fmaclen" title="Quite possible the only portfolio I update regularly" target="_blank" class="dribbble">Dribbble</a>
                        </li>
                        <li>
                            <a href="mailto:me@fernando.is" title="Good, old fashioned email. Bare in mind that I might reply from a different address" target="_blank" class="email">E-Mail</a>
                        </li>
                    </ul>
                </div>

            </div>
        </footer>

    </div>
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/jquery.vide.min.js"></script>
    <script type="text/javascript">
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-33451886-3', 'auto');
        ga('send', 'pageview');
    </script>


</body>
</html>
